global
    # 1. FIX: Add 'user root' so HAProxy has permission to write the socket
    user root
    stats socket /var/run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

defaults
    mode http
    timeout connect 5s
    timeout client  3600s
    timeout server  3600s
    timeout tunnel 3600s

frontend http-in
    bind *:8000
    default_backend http-backend

frontend tracker-server-go-http-in
    bind *:8002
    default_backend http-backend-go

frontend tracker-server-go-quic-in
    bind *:8003
    default_backend http-backend-go-quic        

frontend grpc-in
    bind *:8001
    mode tcp
    default_backend grpc-backend    

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s

backend http-backend
    balance leastconn
    option httpchk GET /
    
    # Slots
    server s1 127.0.0.1:80 check disabled
    server s2 127.0.0.1:80 check disabled
    server s3 127.0.0.1:80 check disabled
    server s4 127.0.0.1:80 check disabled
    server s5 127.0.0.1:80 check disabled
    server s6 127.0.0.1:80 check disabled
    server s7 127.0.0.1:80 check disabled
    server s8 127.0.0.1:80 check disabled
    server s9 127.0.0.1:80 check disabled
    server s10 127.0.0.1:80 check disabled

backend http-backend-go
    balance leastconn
    option httpchk GET /
    
    # Slots
    server s1 127.0.0.1:80 check disabled
    server s2 127.0.0.1:80 check disabled
    server s3 127.0.0.1:80 check disabled
    server s4 127.0.0.1:80 check disabled
    server s5 127.0.0.1:80 check disabled
    server s6 127.0.0.1:80 check disabled
    server s7 127.0.0.1:80 check disabled
    server s8 127.0.0.1:80 check disabled
    server s9 127.0.0.1:80 check disabled
    server s10 127.0.0.1:80 check disabled


backend http-backend-go-quic
    mode udp
    balance leastconn
    
    # Slots
    server s1 127.0.0.1:80 check disabled
    server s2 127.0.0.1:80 check disabled
    server s3 127.0.0.1:80 check disabled
    server s4 127.0.0.1:80 check disabled
    server s5 127.0.0.1:80 check disabled
    server s6 127.0.0.1:80 check disabled
    server s7 127.0.0.1:80 check disabled
    server s8 127.0.0.1:80 check disabled
    server s9 127.0.0.1:80 check disabled
    server s10 127.0.0.1:80 check disabled    

backend grpc-backend
    mode tcp
    balance leastconn
    option tcp-check
    
    # Slots
    server s1 127.0.0.1:80 check disabled
    server s2 127.0.0.1:80 check disabled
    server s3 127.0.0.1:80 check disabled
    server s4 127.0.0.1:80 check disabled
    server s5 127.0.0.1:80 check disabled
    server s6 127.0.0.1:80 check disabled
    server s7 127.0.0.1:80 check disabled
    server s8 127.0.0.1:80 check disabled
    server s9 127.0.0.1:80 check disabled
    server s10 127.0.0.1:80 check disabled    
